# Ignore assets not included in project
assets/3rdparty/

# Ignore Node.js files
node_modules/
package-lock.json

# Ignore compiled and temporary files
*.pyc
*.pyo
.swp
.swo
.*.swp
.*.swo
README.html

# Ignore reference material
extras/
notes/

